*{
	font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 0px;
}

li{
  list-style-type: none;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;

  }

}
#homeimg{
	margin-bottom: 30px;
}

/*----------------Navbar-----------------*/
@media (min-width: 979px) {
  .navbar-nav >li {
	margin-top:50px;
	}
	/*Navbar box color on hover*/

	.navbar-nav li:hover{
	background-color: rgba(0,0,0,0.6);

	}

	.dropdown:hover .dropdown-menu { /*Menus automatically open*/
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

/* Navbar main background */

.navbar.navbar-inverse {
    background-color: rgba(0,0,0,0.7);

	}

}
     @media only screen and (max-width : 768px) {
        .navbar-inverse { 
            background-color: #191919; 
        }
     }
/*Navbar link colors*/

.navbar-inverse .navbar-nav li a {
	color:white;
	font-size: 15px;
}

.navbar-inverse .navbar-nav li a:hover{
	transition: color 0.5s ease;
	color:#008000;
}

.navbar-inverse .navbar-nav ul li a {
	color:black;
}

/*navbar scroll size*/

@media (min-width: 979px) {
	#logo {
  padding-top: 0px !important;
  padding-bottom: 5px !important;
}

nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}


nav.navbar.shrink {
  min-height: 35px;
}


nav.shrink li a{
  padding-top: 25px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}


nav.shrink #logo{
  font-size: 25px;
  width:50%;
  height:50%;
  -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

nav.shrink .navbar-nav >li{
	margin-top: 0px;
	-webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
	}
}
/*----------end of nav shrink/nav bar*/

#foot {
	background-color: rgba(96,96,96,96);
}

#foot p{
	color: white;
}
#foot a{
	color: black;
}

.footer {
  position: relative;  
  clear:both;
  width: 100%;
} 
#foot{
	/*margin-top: 5%;*/
}
.footer-above{
	padding: .5%;
}
.footer-below{
	background-color: #545454;
}
.footer-below p{
	padding: 1%;
	color: #d3d3d3;
}
#footNavText{
	padding-top: 1%;
}
#footSocMedia{
	padding-bottom:.05%;
	padding-top: .05%;
	color:white;
}
#descText a{
	color:white;
}

#descText h3{
	color:white;
}
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
    border-radius: 5px;
}

#homeimg{
  transition-duration: 4s;
}

/* Carousel base class */
.carousel {
  height: 700px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 700px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 700px;
}
@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 40px;
    font-size: 21px;
    line-height: 1.4;
  }

}

.img-responsive { 
    /* other definitions */
    width:100%;
}

.carh1{
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 100px;
}

.carh3{
	font-size: 30px;

}

#carocap{
	background: rgba(0,0,0,0.8);

}
/*-------End of Carousel*/
 /*3 pics below title*/

 #threepics{
  margin-top: 5%;
 }
/*Banner*/

.widewrapper-banner{
  background-color: #003200;
  width:100%;
}

.bannertxt{
  color:white;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 2%;
}
#bannerbutton{
  padding:15px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #545454;


}
#bannerbutton:hover{
  background-color: #000040;
  -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
/*Title*/
.widewrapper-title{
  margin-top: 1%;
  margin-bottom: 3%;
}
/*Table below banner*/
#secTable{
  color:black;
}

#homepageinfo{
  margin-top: 7%;
  margin-bottom: 5%;
}
#homepageinfo a {
  text-decoration: none;
}
#homepageinfo a :hover{
  color:#000040;
  -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
.container_wrapper i{
  color:#000040;
}

/*bottom banner*/
.widewrapper-bottombanner{
  background-color: #003200;
  width:100%;
  height:100%;
  margin-top: 3%;

}
.ban1{
  font-size: 30px;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 3%;
  color:white;
}

.ban3{
  margin-right: 40px;
  font-size: 20px;
  color: white;

}
#bottombannerbutton{
   padding:2%;
  margin-top: 35px;
  margin-bottom: 10px;
  background-color: #545454;
}

#bottombannerbutton:hover{
  background-color: #000040;
  -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

/* ----------------Tenant-------------*/
/*center tabs*/

.tenantcont{
  margin-bottom: 100px;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.m1 a{
  color:rgba(0,0,0,0.5);
  font-weight: bold;

}
.m1 a:hover{
  color:black;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
.tab-content a{
  color: #003200;
}

/*---Guest Moorage--*/

#guestmooragecont{
  margin-bottom: 5%;
}

/*RV/Kayak Storage--*/

#rvstorage{
  margin-bottom: 5%;
}

/*------News---------*/

#info_container{
  margin-bottom: 5%;
}

#newsbtns{
  margin-bottom: 5%;
}

/*--Sales/Repos --*/

.auctions{
  margin-bottom: 5%;
}
/*--Sales/Repos Modal Carousel --*/
#modCaro{
  height:400px;
}

.wholemodalcaro{
  height: 400px;
}